@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-start-hex: #ffffff;
  --background-end-hex: #ffffff;
  --unread-link-hex: #a21f1f;
  --in-progress-link-hex: #384bc2;
  --completed-link-hex: #466216;
  --base-text-hex: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-start-hex: #000000;
    --background-end-hex: #000000;
  }
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(to bottom, transparent, var(--background-end-hex))
    var(--background-start-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .unread-link {
    color: var(--unread-link-hex);
  }
  .in-progress-link {
    color: var(--in-progress-link-hex);
  }
  .completed-link {
    color: var(--completed-link-hex);
  }
  .base-text {
    color: var(--base-text-hex);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
