@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #252422;
  --background-start-hex: #fffcf2;
  --background-end-hex: var(--background-start-hex);
  --unread-link-hex: var(--foreground-hex);
  --in-progress-link-hex: #f2b202;
  --completed-link-hex: var(--foreground-hex);
  --base-text-hex: var(--foreground-hex);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #fffcf2;
    --background-start-hex: #252422;
    --background-end-hex: #252422;
  }
}

nav {
  background: var(--background-start-hex);
  color: var(--base-text-hex);
  font-weight: 700;
}

button {
  @apply rounded-full flex items-center justify-center aspect-square w-[2rem] h-[2rem] border opacity-50;
  border-color: var(--base-text-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .unread-link {
    font-weight: 700;
    color: var(--unread-link-hex);
  }
  .in-progress-link {
    font-weight: 700;
    color: var(--in-progress-link-hex);
  }
  .completed-link {
    color: var(--completed-link-hex);
    opacity: 0.5;
  }
  .base-text {
    color: var(--base-text-hex);
  }
}

@layer components {
  .text-balance {
    text-wrap: balance;
  }
  .unread-link {
    color: var(--unread-link-hex);
  }
  .in-progress-link {
    color: var(--in-progress-link-hex);
  }
  .completed-link {
    color: var(--completed-link-hex);
  }
  .base-text {
    color: var(--base-text-hex);
  }
}

body {
  color: var(--base-text-hex);
  /* background: linear-gradient(to bottom, transparent, var(--background-end-hex))
    var(--background-start-hex); */
  background: var(--background-start-hex);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
